<div class='container'>
	<div class='jumbotron'>
		<h1>Demo App</h1>
		<h2>... Demonstration of the power of Sails.</h2>
		<a href='/user/new' class='btn btn-lg btn-success'>Sign Up Now!</a>
	</div>
</div>