<div class='container'>
	<form role='form' action="/user/create" method="POST" class="haha-form-signup">
		<div class="panel panel-default haha-signup-panel haha-panel-md">
			<div class="panel-heading">
				<h4>Create an account</h4>
			</div>
			<div class="panel-body">
				<% if (flash && flash.err) { %>
				<div class="alert alert-danger">					
					<% Object.keys(flash.err).forEach(function(error) { %>
						<%= error %>: <%= JSON.stringify(flash.err[error]) %>
					<% }) %>
				</div>
				<% } %>
				<div class='form-group'>
					<label class='control-label' for="name">Name</label>
					<input type='text' class='form-control' name='name' placeholder='your name'></input>
				</div>
				<div class='form-group'>
					<label class='control-label' for="title">Title</label>
					<input type='text' class='form-control' name='title' placeholder='your title'></input>
				</div>
				<div class='form-group'>
					<label class='control-label' for="email">Email Address</label>
					<input type='text' class='form-control' name='email' placeholder='your email'></input>
				</div>
				<div class='form-group'>
					<label class='control-label' for="password">Password</label>
					<input type='password' class='form-control' name='password' id='password' placeholder='your password'></input>
				</div>
				<div class='form-group'>
					<label class='control-label' for="confirmation">Password Confirmation</label>
					<input type='password' class='form-control' name='confirmation' placeholder='your password confirmation'></input>
				</div>
        <div class="checkbox">
          <label for="">
            <input type="checkbox" name="admin"/> Admin?
          </label>
        </div>
			</div>
			<div class="panel-footer">
				<button type='submit' class='btn btn-primary btn-block'>Create</button>
			</div>
		</div>
		<input class='hidden' name='_csrf' value='<%= _csrf %>' />
	</form>
</div>
